.main-layout {
  display: flex;
  height: calc(100vh - var(--header-height));
}

.content {
  flex: 1;
  //padding: var(--spacing-lg);
  background: var(--color-background);
  overflow-y: auto;
  min-width: 0; 
}


@media (max-width: 768px) {
  .main-layout {
    position: relative;
  }
  
  .content {
    width: 100%;
    padding: var(--spacing-md);
  }
}