@use 'styles/variables' as *;
@use 'styles/mixins' as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Google Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--color-text-primary);
  background: var(--color-background-secondary);
}